<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="header">Strava Statistics</div>
        <div class="instr"><br>Upload your Strava archive data (.csv) for an analysis of your activities!</div>

        <form action="/process" method="POST" enctype="multipart/form-data">
            <input type="file" id="fileUpload" name="file" accept=".csv" required>
            <label id="file-upload" for="fileUpload">
                Upload .csv File
                <div id="file-name">No file selected</div>
                {% if error %}
                    <div class="error-message" style="color: rgb(228, 67, 64); margin-top: 1rem; font-size: 1rem;">{{ error }}</div>
                {% endif %}
            </label>

            <input type="submit" id="submit" value="upload" name="action">
            <label for="submit" class="submit-button">Submit</label>
        </form>
        <form action="/process" method="POST">
            <input type="submit" id="default" value="default" name="action">
            <label for="default" class="default-button">Example</label>
        </form>

        <div class="bottom-container">
            <div class="FAQ-link"><a href="{{ url_for('FAQ_page') }}">FAQ</a></div>
        </div>
    </div>

    
</body>

<script>
const fileInput = document.querySelector('#fileUpload');
const fileName = document.querySelector('#file-name');

fileInput.addEventListener('change', () => {
    fileName.innerHTML = fileInput.files.length > 0 ? 'Currently selected: <br><span style="color: #3951C9">' + fileInput.files[0].name + '</span>': 'No file chosen';
});

</script>
</html>